<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo.svg}" type="image/x-icon">
    <link rel="stylesheet" href="@{/styles/colors.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/ajustes.css}">
    <title>Settings</title>
</head>
<body>
    
    <div id="header">
        <div class="header-container" id="header-container">
            <div class="header-container-logo" id="header-container-logo">
                <img th:src="@{/img/logo.png}" alt="CageTech" title="CageTech">
            </div>
    
            <div class="header-container-icons" id="header-container-icons">
    
                <div class="header-container-icon" id="header-container-icon-rutinas">
                    <a th:href="@{/rutinas}" class="header-container-icon-link" id="header-container-icon-link-rutinas">
                        <img th:src="@{/img/rutina-primary.svg}" alt="Rutinas" title="Rutinas" class="header-container-icon-img" id="header-container-icon-img-rutinas">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-estadisticas">
                    <a th:href="@{/estadisticas}" class="header-container-icon-link" id="header-container-icon-link-estadisticas">
                        <img th:src="@{/img/estats-primary.svg}" alt="Estadísticas" title="Estadísticas" class="header-container-icon-img" id="header-container-icon-img-estadisticas">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-perfil">
                    <a th:href="@{/perfil}" class="header-container-icon-link" id="header-container-icon-link-perfil">
                        <img th:src="@{/img/perfil-primary.svg}" alt="Perfil" title="Perfil" class="header-container-icon-img" id="header-container-icon-img-perfil">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-ajustes">
                    <a th:href="@{/ajustes}" class="header-container-icon-link" id="header-container-icon-link-ajustes">
                        <img th:src="@{/img/ajustes-primary.svg}" alt="Ajustes" title="Ajustes" class="header-container-icon-img" id="header-container-icon-img-ajustes">
                    </a>
                </div>
    
            </div>
    
        </div>
    </div>

    <div class="main-content">

        <h1>Ajustes</h1>

        <div>
            <h3>Background</h3>
            <input type="color" id="colorPickerBody" name="colorPickerBody">

            <button onclick="changeColorBody()">Aplicar</button>
        </div>

        <div>
            <h3>Cabecera</h3>
            <input type="color" id="colorPickerHeader" name="colorPickerHeader">

            <button onclick="changeColorHeader()">Aplicar</button>
        </div>

        <div>
            <h3>Contenedores</h3>
            <input type="color" name="colorPickerContenedores" id="colorPickerContenedores">

            <button onclick="changeColorContainers()">Aplicar</button>
        </div>

        <div>
            <h3>Lista de Rutinas</h3>
            <input type="color" name="colorPickerList" id="colorPickerList">

            <button onclick="changeColorList()">Aplicar</button>
        </div>

        <div>
            <h3>MMAs</h3>
            <input type="color" name="colorPickerMMA" id="colorPickerMMA">

            <button onclick="changeColorMMA()">Aplicar</button>
        </div>
    </div>

    <script>

        window.onload = function() {
            const bodyColor = localStorage.getItem('--body-color-primary');
            const headerColor = localStorage.getItem('--header-color-primary');
            const containerColor = localStorage.getItem('--body-color-secondary');
            const listColor = localStorage.getItem('--list-color-primary');
            const MMAColor = localStorage.getItem('--container-mma');

            if (bodyColor) document.body.style.setProperty('--body-color-primary', bodyColor);
            if (headerColor) document.body.style.setProperty('--header-color-primary', headerColor);
            if (containerColor) document.body.style.setProperty('--body-color-secondary', containerColor);
            if (listColor) document.body.style.setProperty('--list-color-primary', listColor);
            if (MMAColor) document.body.style.setProperty('--container-mma', MMAColor);
        };

        function changeColorBody() {
            const colorPicker = document.getElementById("colorPickerBody");
            const selection = colorPicker.value;

            document.body.style.setProperty('--body-color-primary', selection);
            document.html.style.setProperty('--body-color-primary', selection);
            localStorage.setItem('--body-color-primary', selection);
        }

        function changeColorContainers() {
            const colorPicker = document.getElementById("colorPickerContenedores");
            const selection = colorPicker.value;

            document.body.style.setProperty('--body-color-secondary', selection);
            document.html.style.setProperty('--body-color-secondary', selection);
            localStorage.setItem('--body-color-secondary', selection);
        }

        function changeColorHeader() {
            const colorPicker = document.getElementById("colorPickerHeader");
            const selection = colorPicker.value;

            document.body.style.setProperty('--header-color-primary', selection);
            document.html.style.setProperty('--header-color-primary', selection);
            localStorage.setItem('--header-color-primary', selection);
        }

        function changeColorList() {
            const colorPicker = document.getElementById("colorPickerList");
            const selection = colorPicker.value;

            document.body.style.setProperty('--list-color-primary', selection);
            document.html.style.setProperty('--list-color-primary', selection);
            localStorage.setItem('--list-color-primary', selection);
        }

        function changeColorMMA() {
            const colorPicker = document.getElementById("colorPickerMMA");
            const selection = colorPicker.value;

            document.body.style.setProperty('--container-mma', selection);
            document.html.style.setProperty('--container-mma', selection);
            localStorage.setItem('--container-mma', selection);
        }
    </script>

</body>
</html>