<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo.svg}" type="image/x-icon">
    <link rel="stylesheet" href="@{/styles/colors.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/detalleRutina.css}">
    <title>Rutinas</title>
</head>
<body>

    <div id="header">
        <div class="header-container" id="header-container">
            <div class="header-container-logo" id="header-container-logo">
                <img th:src="@{/img/logo.png}" alt="CageTech" title="CageTech">
            </div>
    
            <div class="header-container-icons" id="header-container-icons">
    
                <div class="header-container-icon" id="header-container-icon-rutinas">
                    <a th:href="@{/rutinas}" class="header-container-icon-link" id="header-container-icon-link-rutinas">
                        <img th:src="@{/img/rutina-primary.svg}" alt="Rutinas" title="Rutinas" class="header-container-icon-img" id="header-container-icon-img-rutinas">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-estadisticas">
                    <a th:href="@{/estadisticas}" class="header-container-icon-link" id="header-container-icon-link-estadisticas">
                        <img th:src="@{/img/estats-primary.svg}" alt="Estadísticas" title="Estadísticas" class="header-container-icon-img" id="header-container-icon-img-estadisticas">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-perfil">
                    <a th:href="@{/perfil}" class="header-container-icon-link" id="header-container-icon-link-perfil">
                        <img th:src="@{/img/perfil-primary.svg}" alt="Perfil" title="Perfil" class="header-container-icon-img" id="header-container-icon-img-perfil">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-ajustes">
                    <a th:href="@{/ajustes}" class="header-container-icon-link" id="header-container-icon-link-ajustes">
                        <img th:src="@{/img/ajustes-primary.svg}" alt="Ajustes" title="Ajustes" class="header-container-icon-img" id="header-container-icon-img-ajustes">
                    </a>
                </div>
    
            </div>
    
        </div>
    </div>

    <div class="main-content">
        <h1 class="title">Rutina</h1>

        <div th:each="ejercicio : ${ejerciciosRutina}" class="ejercicios">
            <ul>
                <h2 th:text="${ejercicio.nombre}"></h2>
                <div th:each="i : ${#numbers.sequence(1, ejercicio.series)}" class="series">
                    <div>
                        <label for="repeticiones">Repeticiones: </label>
                        <input type="number" name="repeticiones" th:value="${ejercicio.repeticiones}" required>
                    </div>

                    <div>
                        <label for="peso">Peso(kg): </label>
                        <input type="number" name="peso" th:value="${ejercicio.peso}" required>
                    </div>
                </div>
            </ul>
        </div>

        <div th:each="artemarcial : ${artesMarcialesRutina}" class="artesmarciales">
            <ul>
                <h2 th:text="${artemarcial.nombre}"></h2>
                <div class="series">
                    <div>
                        <label for="calentamiento">Calentamiento: </label>
                        <input type="time" name="calentamiento" th:value="${artemarcial.calentamiento}" required>
                    </div>

                    <div>
                        <label for="tecnica">Tecnica: </label>
                        <input type="time" name="tecnica" th:value="${artemarcial.tecnica}" required>
                    </div>

                    <div>
                        <label for="sparring">Sparring: </label>
                        <input type="time" name="sparring" th:value="${artemarcial.sparring}" required>
                    </div>

                    <div>
                        <label for="num_sparring">Núm. Sparring: </label>
                        <input type="number" name="num_sparring" th:value="${artemarcial.num_sparring}" required>
                    </div>
                </ul>
            </div>
        </div>

    </div>

    <script>
        window.onload =  function() {
            // Apply saved colors from localStorage if they exist
            const bodyColor = localStorage.getItem('--body-color-primary');
            const headerColor = localStorage.getItem('--header-color-primary');
            const containerColor = localStorage.getItem('--body-color-secondary');
            const listColor = localStorage.getItem('--list-color-primary');
            const MMAColor = localStorage.getItem('--container-mma');

            if (bodyColor) document.body.style.setProperty('--body-color-primary', bodyColor);
            if (headerColor) document.body.style.setProperty('--header-color-primary', headerColor);
            if (containerColor) document.body.style.setProperty('--body-color-secondary', containerColor);
            if (listColor) document.body.style.setProperty('--list-color-primary', listColor);
            if (MMAColor) document.body.style.setProperty('--container-mma', MMAColor);
        };
    </script>
    
</body>
</html>