<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/header.css">
    <title></title>
</head>
<body>
    
    <div class="header-container" id="header-container">
        <div class="header-container-logo" id="header-container-logo">
            <img src="../static/img/logo.png" alt="CageTech" title="CageTech">
        </div>

        <div class="header-container-icons" id="header-container-icons">

            <div class="header-container-icon" id="header-container-icon-rutinas">
                <a href="../pages/rutinas.html" class="header-container-icon-link" id="header-container-icon-link-rutinas">
                    <img src="../static/img/rutina-primary.svg" alt="Rutinas" title="Rutinas" class="header-container-icon-img" id="header-container-icon-img-rutinas">
                </a>
            </div>

            <div class="header-container-icon" id="header-container-icon-estadisticas">
                <a href="../pages/estadisticas.html" class="header-container-icon-link" id="header-container-icon-link-estadisticas">
                    <img src="../static/img/estats-primary.svg" alt="Estadísticas" title="Estadísticas" class="header-container-icon-img" id="header-container-icon-img-estadisticas">
                </a>
            </div>

            <div class="header-container-icon" id="header-container-icon-perfil">
                <a href="../pages/perfil.html" class="header-container-icon-link" id="header-container-icon-link-perfil">
                    <img src="../static/img/perfil-primary.svg" alt="Perfil" title="Perfil" class="header-container-icon-img" id="header-container-icon-img-perfil">
                </a>
            </div>

            <div class="header-container-icon" id="header-container-icon-ajustes">
                <a href="../pages/ajustes.html" class="header-container-icon-link" id="header-container-icon-link-ajustes">
                    <img src="../static/img/ajustes-primary.svg" alt="Ajustes" title="Ajustes" class="header-container-icon-img" id="header-container-icon-img-ajustes">
                </a>
            </div>

        </div>

    </div>

</body>
</html>