<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <title>Login</title>
</head>
<body>
    
    <div id="login-form-container" class="login-form-container">

        <h1 id="login-title" class="login-title">Iniciar Sesión</h1>

        <img th:src="@{/img/User.svg}" alt="user" id="login-form-img" class="login-form-img">

        <form action="/rutinas" method="POST" id="login-form" class="login-form">
            <div id="login-form-group-email" class="login-form-group">
                <input type="email" 
                id="input-login-mail" class="input-login" 
                name="email" placeholder="EMAIL" required>
            </div>

            <div id="login-form-group-password" class="login-form-group">
                <input type="password" 
                id="input-login-password" class="input-login-password" 
                name="password" placeholder="CONTRASEÑA" required>
            </div>

            <div id="login-form-group-link" class="login-form-group">
                <p><b>¿Aún no tienes cuenta? <a th:href="@{/register}">Crear cuenta</a></b></p>
            </div>

            <button type="submit" id="btn-login-submit" class="btn-login-submit">ENTRAR</button>
        </form>

        <div th:if="${error}" class="error-msg">
            <p th:text="${error}"></p>
        </div>

    </div>

</body>
</html>
