<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    
    <div id="login-form-container" class="login-form-container">

        <h1 id="login-title" class="login-title">Iniciar Sesión</h1>

        <img src="../static/img/User.svg" alt="user" id="login-form-img" class="login-form-img">

        <form method="POST" id="login-form" class="login-form">
            <div id="login-form-group-email" class="login-form-group">
                <input type="email" 
                id="input-login-mail" class="input-login" 
                name="email" placeholder="EMAIL" required>
            </div>

            <div id="login-form-group-password" class="login-form-group">
                <input type="password" 
                id="input-login-password" class="input-logi-password" 
                name="password" placeholder="CONTRSEÑA" required>
            </div id="login-form-group-link" class="login-form-group">

            <div id="login-form-group-link" class="login-form-group">
                <p><b>¿Aún no tienes cuenta? <a href="/register">Crear cuenta</a></b></p>
            </div>

            <button type="submit" id="btn-login-submit" class="btn-login-submit">ENTRAR</button>
        </form>

        <div th:if="${error}" class="error-msg">
            <p th:text="${error}"></p>
        </div>

    </div>

</body>
</html>