<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/rutinas.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <script th:src="@{/scripts/rutinas.js}"></script>
    <title>Rutinas</title>

</head>
<body>

    <div id="header">
        <div class="header-container" id="header-container">
            <div class="header-container-logo" id="header-container-logo">
                <img th:src="@{/img/logo.png}" alt="CageTech" title="CageTech">
            </div>
    
            <div class="header-container-icons" id="header-container-icons">
    
                <div class="header-container-icon" id="header-container-icon-rutinas">
                    <a th:href="@{/rutinas}" class="header-container-icon-link" id="header-container-icon-link-rutinas">
                        <img th:src="@{/img/rutina-primary.svg}" alt="Rutinas" title="Rutinas" class="header-container-icon-img" id="header-container-icon-img-rutinas">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-estadisticas">
                    <a th:href="@{/estadisticas}" class="header-container-icon-link" id="header-container-icon-link-estadisticas">
                        <img th:src="@{/img/estats-primary.svg}" alt="Estadísticas" title="Estadísticas" class="header-container-icon-img" id="header-container-icon-img-estadisticas">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-perfil">
                    <a th:href="@{/perfil}" class="header-container-icon-link" id="header-container-icon-link-perfil">
                        <img th:src="@{/img/perfil-primary.svg}" alt="Perfil" title="Perfil" class="header-container-icon-img" id="header-container-icon-img-perfil">
                    </a>
                </div>
    
                <div class="header-container-icon" id="header-container-icon-ajustes">
                    <a th:href="@{/ajustes}" class="header-container-icon-link" id="header-container-icon-link-ajustes">
                        <img th:src="@{/img/ajustes-primary.svg}" alt="Ajustes" title="Ajustes" class="header-container-icon-img" id="header-container-icon-img-ajustes">
                    </a>
                </div>
    
            </div>
    
        </div>
    </div>

    <div class="main-content" id="main-content">
        <h1 id="rutinas-title" class="rutinas-title">Rutinas</h1>

        <button type="button" onclick="btnAddRutina()"
        id="rutinas-btn-añadir-rutina" class="rutinas-btn-añadir-rutina">Nueva rutina</button>

        <div id="rutinas-form-nueva-rutina" class="rutinas-form-nueva-rutina">
            <input type="text" placeholder="Nombre"
            id="rutinas-form-nueva-rutina-input-nombre" class="rutinas-form-nueva-rutina-input"/>
            <button type="button" onclick="btnNuevaRutinaSubmit()"
            id="rutinas-form-nueva-rutina-btn-submit" class="rutinas-form-nueva-rutina-btn">AÑADIR</button>
            <button type="button" onclick="btnNuevaRutinaCancel()"
            id="rutinas-form-nueva-rutina-btn-cancel" class="rutinas-form-nueva-rutina-btn">CANCELAR</button>
        </div>
    
        <div id="rutinas-container-rutinas" class="rutinas-container-rutinas">
            <h2 id="rutinas-container-rutinas-title" class="rutinas-container-rutinas-title">Tus rutinas</h2>
            <ul id="rutinas-container-rutinas-lista" class="rutinas-container-rutinas-lista" th:each="rutina : ${rutinasUsuario}">
                <li th:text="${rutina.nombre}"></li>
            </ul>
        </div>

        <div id="rutinas-menu-ejercicios" class="rutinas-menu-ejercicios">
            <ul id="rutinas-menu-ejercicios-lista" class="rutinas-menu-ejercicios-lista">
                <!-- Aquí se cargan los ejercicios creados -->
            </ul>
        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const rutinasList = document.getElementById("rutinas-container-rutinas-lista");

            // Manejo del click para cada rutina
            rutinasList.addEventListener("click", function() {
                const li = event.target.closest("li");

                if (li) {
                    const nombreRutina = li.textContent.trim();

                    // Ocultar todos los detalles abiertos
                    document.querySelectorAll('.rutina-detalle-container').forEach(detalle => {
                        detalle.style.display = 'none';
                    });

                    // Mostrar los detalles de la rutina seleccionada
                    mostrarDetallesRutina(nombreRutina);
                }
            });
        });
    </script>
    
</body>
</html>