@import url('colors.css');

html, body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;

    background-color: var(--body-color-primary);
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;
}

#header-container-icon-ajustes {
    border-bottom: 2px solid var(--elements-color-p-selected);
}

#header-container-icon-img-ajustes {
    content: url("../img/ajustes-p-selected.svg");
}