@import url('colors.css');

html, body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-color: var(--body-color-primary);
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rutinas-btn-añadir-rutina {
    padding: 16px 20px;
    border-radius: 12px;
    border: 2px solid var(--elements-color-primary);
    background-color: var(--elements-color-primary);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.rutinas-btn-añadir-rutina:hover {
    background-color: var(--elements-color-p-hover);
    border: 2px solid var(--elements-color-p-hover);
}

.rutinas-form-nueva-rutina {
    display: none;
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--body-color-secondary);
}

.rutinas-form-nueva-rutina-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.rutinas-form-nueva-rutina-input:focus {
    border-color: var(--form-input-focus-color);
    outline: none;
}

.rutinas-form-nueva-rutina-input::placeholder {
    color: #999;
}

.rutinas-form-nueva-rutina-input:hover {
    border-color: var(--form-input-hover-color);
}

.rutinas-form-nueva-rutina-input:focus::placeholder {
    color: transparent;
}

.rutinas-form-nueva-rutina-btn {
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#rutinas-form-nueva-rutina-btn-submit {
    border: 2px solid var(--elements-color-secondary);
    background-color: var(--elements-color-secondary);
}

#rutinas-form-nueva-rutina-btn-submit:hover {
    border: 2px solid var(--elements-color-s-hover);
    background-color: var(--elements-color-s-hover);
}

#rutinas-form-nueva-rutina-btn-cancel {
    border: 2px solid var(--elements-color-p-selected);
    background-color: var(--elements-color-p-selected);
}

#rutinas-form-nueva-rutina-btn-cancel:hover {
    border: 2px solid var(--elements-color-p-hover);
    background-color: var(--elements-color-p-hover);
}

.rutinas-container-rutinas {
    /*display: none;*/
    margin-top: 20px;
    padding: 12px 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--body-color-secondary);
    color: white;
    width: 75%;
}

.rutinas-container-rutinas-lista {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.rutinas-container-rutinas-lista li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 16px;
    background-color: yellowgreen;
}

.rutinas-container-rutinas-lista li:hover {
    cursor: pointer;
    background-color: rgb(144, 192, 47);
}

.rutina-detalle-container {
    display: none;
    width: 75%;
    margin-top: 20px;
    padding: 12px 20px;
    text-align: left;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: cyan;
    color: white;
}

.rutina-detalle-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 16px;
    background-color: rgb(7, 214, 214);
}

.rutina-detalle-container-row-nombre {
    flex-grow: 1;
}

.rutina-detalle-container-row-btn {
    background-color: transparent;
    border: none;
    color: var(--elements-color-p-selected);
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-right: 0.5em;
}

.rutina-detalle-container-row-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--elements-color-p-hover);
}

.rutina-detalle-container-row-img {
    content: url("../img/Trash.png");
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.rutina-detalle-container-row-img:hover {
    cursor: pointer;
}


.rutina-detalle-container-row-btn-agregar {
    background-color: aqua;
    border-radius: 50%;
    padding: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.rutina-detalle-container-row-btn-agregar:hover {
    cursor: pointer;
    background-color: rgb(11, 151, 151);
}

.rutina-detalle-container-row-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rutina-detalle-container-row-row p {
    flex-grow: 1;
}

.rutina-detalle-container-row-row-btn-aceptar {
    background-color: transparent;
    border: none;
    color: var(--elements-color-s-selected);
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-right: 0.5em;
    cursor: pointer;
}

.rutina-detalle-container-row-row-btn-aceptar:hover {
    color: var(--elements-color-s-hover);
    cursor: pointer;
    text-decoration: underline;
}

.rutina-detalle-container-row-row-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.rutinas-menu-ejercicios {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(165, 14, 165);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
}

.rutinas-menu-ejercicios-lista {
    list-style-type: none;
    padding: 0;
}

.rutinas-menu-ejercicios-lista li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 0, 255);
    background-color: rgb(224, 17, 224);
    color: white;
    border-radius: 12px;
    margin:10px;
}

.rutinas-menu-ejercicios-lista li:hover {
    background-color: rgb(145, 59, 145);
}

.rutinas-menu-ejercicios-lista button {
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 12px;
    padding: 12px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.rutinas-menu-ejercicios-lista button:hover {
    cursor: pointer;
    background-color: darkred;
}